<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="com.google.gdt.eclipse.mobile.android.wizards.NewAndroidCloudProjectWizard"
            category="com.android.ide.eclipse.wizards.category"
            id="com.google.gdt.eclipse.android.NewProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/new_adt_project.png"
            name="App Engine Connected Android Project"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            category="com.google.gdt.eclipse.suite.newWizards"
            class="com.google.gdt.eclipse.mobile.android.wizards.NewAndroidCloudProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/new_adt_project.png"
            id="com.google.gdt.eclipse.android.NewProjectWizard"
            name="App Engine Connected Android Project"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
   </extension>
</plugin>
